@import "../../../../styles/variables";
@import "../../../../styles/mixins/visual";


.li {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 8px;
  padding: 10px 15px;
  border-radius: 20px;
  background: $grey-50;
  @include cursor;

  &:hover {
    outline:1px solid $black;
    background: $white;
  }
}

.inputEdit {
  flex-grow:1;
  padding:10px;
  border: 1px solid $black;
  border-radius:10px;
}

.button {         
  flex-grow: 1;
  width: 100%;
  padding: 0 10px;
  border: none;
  text-align: left;
  overflow: hidden;
  background-color: transparent;
  @include cursor;
}

.completed {
  text-decoration: line-through;
}

